html, body {
  margin: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #222;
}

body.error {
  background-image: linear-gradient(black, tomato);
}
